body {
    font-family: arial,sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        'header'
        'content'
        'footer';
    height: 100vh;
    grid-template-rows: 40px auto 40px;
}

.header {
    grid-area: header;
    line-height: 40px;
}

.header > div, .footer > div{
    display: inline;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
    background: #f2f2f2;
    line-height: 39px;
}

.header a, .footer a {
    text-decoration: none;
    font-size: 13px;
    color: #000;
}

.left-header, .left-footer {
    float: left;
    text-align: left;
}

.left-header a, .left-footer a {
    padding-left: 15px;
}

.right-header, .right-footer {
    float: right;
    text-align: right;
    padding-right: 15px;
}

.right-header a, .right-footer a {
    padding-right: 15px;
}

.content {
    margin: auto; 
}

.content img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 20px;
    cursor: pointer;
}

.search-field {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 2px;
    width: 584px; height: 44px;
}

.search-field:hover {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.16), 0 0 0 2px rgba(0,0,0,0.08);
}

.search-field {
    display: inline-grid;
    grid-template-areas:
        'text-search voice-search';
    grid-template-columns: 90% 10%;
}

.text-search {
    grid-area: text-search;
    background: transparent;
    outline: none;
    border: none;
    font: 16px arial,sans-serif;
    padding: 10px;
    box-sizing: border-box;
}

.voice-search {
    grid-area: voice-search;
    width: 100%; height: 100%;
    flex: 1;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.voice-mic {
    background: url(./images/googlemic_color_24dp.png) 0 0 no-repeat;
    width: 24px; height: 24px;
    background-size: 24px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.search-buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.search-buttons input {
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    color: #757575;
    border-radius: 2px;
    height: 36px;
    line-height: 27px;
}

.search-buttons input:hover{
    color: #000;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
