body {
    font-family: arial,sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        'header'
        'content'
        'footer';
}

.header {
    grid-area: header;
}

.header > div, .footer > div{
    display: inline;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}

.header a, .footer a {
    text-decoration: none;
    font-size: 13px;
    color: #000;
}

.left-header, .left-footer {
    float: left;
    text-align: left;
    padding-left: 15px;
}

.right-header, .right-footer {
    float: right;
    text-align: right;
    padding-right: 15px;
}

.content {
    margin: auto; 
}

.content img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.search-field {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 2px;
    width: 584px; height: 44px;
}

.search-field:hover {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.16), 0 0 0 2px rgba(0,0,0,0.08);
}

.text-search {
    border: none;
    border-radius: 2px;
    background: transparent;
    outline: none;
    width: 100%; height: 80%;
    font: 16px arial,sans-serif;
}